{% extends "base.html" %}
{% block title %}AkaTeam | Calculator{% endblock %}

<!--
This following code gives the link then gives the image source.
-->
{% block content %}
<body>
  <center>
    </br>
    <!-- link -->
    <a href="https://repl.it/@Akprathipati/calc-20#main.py" target="_blank">
    <!-- image source -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Casio_calculator_JS-20WK_in_201901_002.jpg" width="1000" height="900">
    </a>
  </center>
</body>
{% endblock %}